#goods {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.good {
    border: 1px solid black;
    padding: 5px;
    width: 200px;
    height: 300px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;

}
.label {
    font-weight: bold;
    text-align: left;
    margin: 5px;
}
.description {
    text-align: left;
    margin: 5px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
#buttons {
    position: absolute;
    top: 23px;
    right: 57px;
}
.title {
    margin:10px;
}
.button {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
}
.rightColumn {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 50%;
}
.input {
    margin-bottom: 20px;
}
.orderList {
    list-style: none;
}